<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Details
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="presentSortFilters()">
				<ion-icon name="options"></ion-icon>
			</button>
			<!-- <button ion-button icon-only (click)="addCollaborator()">
				<ion-icon name="people"></ion-icon>
			</button> -->
			<expense (notify)="onAddExpenseNotify($event)" [expenseStory]="expenseStorySummary.expenseStory"></expense>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar [(ngModel)]="queryText" (ionInput)="getItems($event)" placeholder="Search">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-item>
		<h2>{{expenseStorySummary.expenseStory.title}} </h2>
		<ion-badge item-end color="primary">{{expenseStorySummary.totalExpenseCount }}</ion-badge>
		<ion-badge item-end color="favorite">${{expenseStorySummary.totalExpenses | number}}</ion-badge>
	</ion-item>
	<div *ngIf="displayResult == 'name'">
		<ion-card *ngFor="let ck of expensesBySubCategoryKeys">
			<ion-item>
				<h2>{{_expenseStoryService.expenseCategoryById[ck|uppercase].description}}</h2>
				<ion-badge item-end color="primary">{{expensesBySubCategory[ck].expenses.length}}</ion-badge>
				<ion-badge item-end color="favorite">${{expensesBySubCategory[ck].total | number}}</ion-badge>
			</ion-item>

			<ion-list>
				<ion-item-sliding *ngFor="let es of expensesBySubCategory[ck].expenses">
					<ion-item>
						<p>
							<i item-left class="fa-2x" [ngClass]=" _iconMapper.mapper[es.expenseSubCategoryId]?_iconMapper.mapper[es.expenseSubCategoryId] :'fa fa-list'"></i>
							{{_expenseStoryService.expenseCategoryById[es.expenseSubCategoryId].description}}
							<ion-badge item-end color="favorite">${{es.amount}}</ion-badge>
						</p>
						<p>
							<i class="fa fa-2x fa-calendar" item-left></i> {{es.expenseUtcDt|date:"MMM"}} , {{es.expenseUtcDt|date:"dd"}} &nbsp;
							<i class="fa fa-2x fa-shopping-cart" item-right></i> {{es.storeName}}
						</p>
						<p *ngIf="es.comments">
							<i class="fa fa-2x fa fa-comments" item-left></i> {{es.comments}}
						</p>
						<ion-img src="data:image/png;base64,{{es.receiptThumbnail}}" item-right height="60" width="60" alt="User Image" *ngIf="es.receiptThumbnail"
						 (click)="viewReceipt(es)"></ion-img>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button color="danger" (click)="removeExpense(ck, es)">
							Remove
						</button>
						<button color="secondary" ion-button (click)="edit(es)">
							Edit
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</ion-card>
	</div>
	<div *ngIf="displayResult == 'date'">
		<ion-card *ngFor="let ek of expensesByDateKeys">
			<ion-item>
				<h2>{{ek|date}}</h2>
				<ion-badge item-end color="primary">{{expensesByDate[ek].expenses.length}}</ion-badge>
				<ion-badge item-end color="favorite">${{expensesByDate[ek].total | number}}</ion-badge>
			</ion-item>

			<ion-list>
				<ion-item-sliding *ngFor="let es of expensesByDate[ek].expenses">
					<ion-item>

						<p>
							<i item-left class="fa-2x" [ngClass]=" _iconMapper.mapper[es.expenseSubCategoryId]?_iconMapper.mapper[es.expenseSubCategoryId] :'fa fa-list'"></i>
							{{_expenseStoryService.expenseCategoryById[es.expenseSubCategoryId].description}}
							<ion-badge item-end color="favorite">${{es.amount}}</ion-badge>
						</p>
						<p>
							<i class="fa fa-2x fa-calendar" item-left></i> {{es.expenseUtcDt|date:"MMM"}} , {{es.expenseUtcDt|date:"dd"}} &nbsp;
							<i class="fa fa-2x fa-shopping-cart" item-right></i> {{es.storeName}}
						</p>
						<p *ngIf="es.comments">
							<i class="fa fa-2x fa fa-comments" item-left></i> {{es.comments}}
						</p>
						<ion-img src="data:image/png;base64,{{es.receiptThumbnail}}" item-right height="60" width="60" alt="User Image" *ngIf="es.receiptThumbnail"
						 (click)="viewReceipt(es)"></ion-img>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button color="danger" (click)="removeExpense(ck, es)">
							Remove
						</button>
						<button color="secondary" ion-button (click)="edit(es)">
							Edit
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</ion-card>
	</div>
</ion-content>