<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Details
			<!--<ion-icon name="add-circle"></ion-icon>-->
		</ion-title>
		<ion-buttons end>
     <button ion-button icon-only (click)="presentSortFilters()">
        <ion-icon name="options"></ion-icon>
     </button>
			<button ion-button icon-only (click)="addCollaborator()">
        <ion-icon name="people"></ion-icon>
     </button>
			<expense (notify)="onAddExpenseNotify($event)" [expenseStory]="expenseStorySummary.expenseStory"></expense>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar [(ngModel)]="queryText" (ionInput)="getItems($event)" placeholder="Search">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
  
	<div text-center>
		<h3>{{expenseStorySummary.expenseStory.title}}
		</h3>
		<p>
			Total Expenditure: ${{expenseStorySummary.totalExpenses | number}} <br /> Expense Count: #{{expenseStorySummary.totalExpenseCount
			}}
		</p>
	</div>
	<ion-row>
		<ion-col width-10></ion-col>
		<ion-col width-20 *ngFor="let c of collaborators">
			<img src="data:image/png;base64,{{c.profilePic}}" height=40 *ngIf="c.profilePic" />
			<img src="assets/images/user.jpg" height=40 *ngIf="!c.profilePic" /> <br /> {{c.displayName}}
		</ion-col>
	</ion-row>
  <div *ngIf="displayResult == 'name'">
    	<ion-card *ngFor="let ck of expensesBySubCategoryKeys">
		<ion-card-header>
			<ion-row no-padding>
				<ion-col>
					{{_expenseStoryService.expenseCategoryById[ck|uppercase].description}} ({{expensesBySubCategory[ck].expenses.length}})
				</ion-col>
				<ion-col text-right>
					<small side="right">Total : ${{expensesBySubCategory[ck].total | number}}</small>
				</ion-col>
			</ion-row>
		</ion-card-header>

		<ion-list>
			<ion-item-sliding *ngFor="let es of expensesBySubCategory[ck].expenses">
				<ion-item>

					<p>
						<i item-left class="fa-2x" [ngClass]=" _iconMapper.mapper[es.expenseSubCategoryId]?_iconMapper.mapper[es.expenseSubCategoryId] :'fa fa-list'"></i>	{{_expenseStoryService.expenseCategoryById[es.expenseSubCategoryId].description}}
						<span item-right>Paid: <strong style="color:#f58310">${{es.amount}}</strong></span>
						<br />
						<i class="fa fa-2x fa-calendar" item-left></i> {{es.expenseUtcDt|date:"MMM"}} , {{es.expenseUtcDt|date:"dd"}} &nbsp;
						<i
							class="fa fa-2x fa-shopping-cart" item-right></i> {{es.storeName}}
							<span *ngIf="es.comments"><br /> <i class="fa fa-2x fa fa-comments" item-left></i> {{es.comments}}</span> <br />
							<span item-left *ngIf="collaborators.length > 1">
                <ion-img src="data:image/png;base64,{{collaboratorById[es.collaboratorId].profilePic}}" height="30" width="30" *ngIf="collaboratorById[es.collaboratorId].profilePic"></ion-img>
                <ion-img src= "assets/images/user.jpg"  width="30" height="30" *ngIf="!collaboratorById[es.collaboratorId].profilePic" ></ion-img> <br />
                {{collaboratorById[es.collaboratorId].displayName}}
            </span>
					</p>
					<ion-img src="data:image/png;base64,{{es.receiptThumbnail}}" item-right height="60" width="60" alt="User Image" *ngIf="es.receiptThumbnail"
						(click)="viewReceipt(es)"></ion-img>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="removeExpense(ck, es)">
            Remove
          </button>
					<button color="secondary" ion-button (click)="edit(es)">
                Edit
          </button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</ion-card>
  </div>
  <div *ngIf="displayResult == 'date'">
   <ion-card *ngFor="let ek of expensesByDateKeys">
		<ion-card-header>
			<ion-row no-padding>
				<ion-col>
					{{ek|date}} ({{expensesByDate[ek].expenses.length}})
				</ion-col>
				<ion-col text-right>
					<small side="right">Total : ${{expensesByDate[ek].total | number}}</small>
				</ion-col>
			</ion-row>
		</ion-card-header>

		<ion-list>
			<ion-item-sliding *ngFor="let es of expensesByDate[ek].expenses">
				<ion-item>

					<p>
						<i item-left class="fa-2x" [ngClass]=" _iconMapper.mapper[es.expenseSubCategoryId]?_iconMapper.mapper[es.expenseSubCategoryId] :'fa fa-list'"></i>	{{_expenseStoryService.expenseCategoryById[es.expenseSubCategoryId].description}}
						<span item-right>Paid: <strong style="color:#f58310">${{es.amount}}</strong></span>
						<br />
						<i class="fa fa-2x fa-calendar" item-left></i> {{es.expenseUtcDt|date:"MMM"}} , {{es.expenseUtcDt|date:"dd"}} &nbsp;
						<i
							class="fa fa-2x fa-shopping-cart" item-right></i> {{es.storeName}}
							<span *ngIf="es.comments"><br /> <i class="fa fa-2x fa fa-comments" item-left></i> {{es.comments}}</span> <br />
							<span item-left *ngIf="collaborators.length > 1">
                <ion-img src="data:image/png;base64,{{collaboratorById[es.collaboratorId].profilePic}}" height="30" width="30" *ngIf="collaboratorById[es.collaboratorId].profilePic"></ion-img>
                <ion-img src= "assets/images/user.jpg"  width="30" height="30" *ngIf="!collaboratorById[es.collaboratorId].profilePic" ></ion-img> <br />
                {{collaboratorById[es.collaboratorId].displayName}}
            </span>
					</p>
					<ion-img src="data:image/png;base64,{{es.receiptThumbnail}}" item-right height="60" width="60" alt="User Image" *ngIf="es.receiptThumbnail"
						(click)="viewReceipt(es)"></ion-img>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="removeExpense(ck, es)">
            Remove
          </button>
					<button color="secondary" ion-button (click)="edit(es)">
                Edit
          </button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</ion-card>
  </div>
</ion-content>