<ion-header>
  <ion-navbar primary>
    <ion-title center>
       Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 <ion-list *ngIf="dashboardStats">
  <ion-item *ngFor="let ra of dashboardStats.recentlyAdded">
    <!--<ion-avatar item-left>
      <!--<img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y">
      <!--<i [ngClass]=" _iconMapper.mapper[ra.expenseSubCategoryId]?_iconMapper.mapper[ra.expenseSubCategoryId] :'fa fa-list'" class="fa-2x"></i>
    </ion-avatar>-->
   <p>
     <i [ngClass]=" _iconMapper.mapper[ra.expenseSubCategoryId]?_iconMapper.mapper[ra.expenseSubCategoryId] :'fa fa-list'" class="fa-2x"> </i>
      You spent 
       <strong>${{ra.amount|number}}</strong> for <strong>{{ra.categoryDescription}}</strong>  on {{ra.expenseDtUtc | date:"MMM"}}, {{ra.expenseDtUtc | date:"dd"}} 
    </p>  
  </ion-item>
</ion-list>
</ion-content>
