dashboard-stats-item .item {
    position: relative;
    padding-left: 0px;
    border-radius: 0;
    font-size: 1.3rem;
    color:#999999;
    background-color: #F2F2F2;
    transition: background-color 200ms linear;
}