<ion-header>
    <ion-navbar color="primary" no-border-bottom>
        <ion-buttons end>
            <invite-friend></invite-friend>
        </ion-buttons>
        <ion-title>Friends</ion-title>

    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="friends">
            <ion-segment-button value="invitations">
                Invitations
            </ion-segment-button>
            <ion-segment-button value="connections">
                Connections
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div [ngSwitch]="friends">
        <ion-list *ngSwitchCase="'invitations'" no-border-bottom>
            <ion-item *ngIf="invitations.length == 0">
                No pending invitations
            </ion-item>
            <ion-item *ngFor="let invitation of invitations">
                {{invitation.displayName}}
                <ion-icon name="close-circle-outline" item-right (click) = "declineFriendInvitation(invitation.userId)"></ion-icon>
                <ion-icon item-right name="checkmark-circle-outline" (click) = "acceptFriendInvitation(invitation.userId)"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'connections'" no-border-bottom>
            <ion-item *ngIf="connections.length == 0">
                You have no connections.
            </ion-item>
            <ion-item *ngFor="let connection of connections">
               <ion-img [src]="avatarUrl" height="50" width="50" item-left></ion-img>
                {{connection.displayName}} <br />
                {{connection.email}}
            </ion-item>
        </ion-list>
    </div>
</ion-content>