<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Notifications
      <!--<ion-icon name="add-circle"></ion-icon>-->
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionInput)="notificationsService.getItems($event)" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item *ngIf="notificationsService.messages.length == 0" no-border-lines>
    No new notifications available.
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let n of notificationsService.messages" text-wrap>
      <strong>{{n.messageType | splitpascal}}</strong> 
      <div>
        <p>
        {{n.message.Message}}
        </p>
      </div>
      <div>
      <small>  {{n.createdDt | amTimeAgo}} </small>
      </div>
    </ion-item>
  </ion-list>
</ion-content>