<ion-header>
  <ion-navbar primary>
    <ion-title>
      Details
      <!--<ion-icon name="add-circle"></ion-icon>-->
    </ion-title>
    <ion-buttons end>
      <expense (notify)="onNotify($event)" [expenseStory]="expenseStorySummary.expenseStory"></expense>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionInput)="getItems($event)" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center>
    <h3>{{expenseStorySummary.expenseStory.title}}</h3>
    <p>
      Total Expenditure: ${{expenseStorySummary.totalExpenses | number}} <br /> Expense Count: #{{expenseStorySummary.totalExpenseCount
      }}
    </p>
  </div>
   <ion-item no-border-bottom>
    <figure style="display:inline-block" *ngFor="let c of collaborators">
      <img src = "data:image/png;base64,{{c.profilePic}}" height=25 width=25 *ngIf="c.profilePic" />
      <img src = "images/user.jpg" height=25 width=25 *ngIf="!c.profilePic" />
      <figcaption>{{c.displayName}}</figcaption>
    </figure>
    <button item-right (click)="addCollaborator()">
        <ion-icon name="people"></ion-icon>
      </button>
  </ion-item>
  <ion-card *ngFor="let ck of categoryKeys">
    <ion-card-header>
      <ion-row no-padding>
        <ion-col>
          {{ck|uppercase}} ({{expensesByCategory[ck].expenses.length}})
        </ion-col>
        <ion-col text-right>
          <small side="right">Total : ${{expensesByCategory[ck].total | number}}</small>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-list>
      <ion-item-sliding *ngFor="let es of expensesByCategory[ck].expenses">
        <ion-item>
          
          <p>
            <i item-left class="fa-2x" [ngClass]=" _iconMapper.mapper[es.expenseSubCategoryId]?_iconMapper.mapper[es.expenseSubCategoryId] :'fa fa-list'"></i> {{_expenseStoryService.expenseCategoryById[es.expenseSubCategoryId].description}}
            <span item-right><i class="fa fa-1x fa-usd"> {{es.amount}}</i></span>
            <br /> 
            <i class="fa fa-2x fa-calendar" item-left></i> {{es.expenseUtcDt|date:"MMM"}} , {{es.expenseUtcDt|date:"dd"}}  &nbsp;<i class="fa fa-2x fa-shopping-cart" item-right></i> {{es.storeName}} 
            <span *ngIf="es.comments"><br /> <i class="fa fa-2x fa fa-comments"></i> {{es.comments}}</span>
          </p>
          <ion-img src="data:image/png;base64,{{es.receiptThumbnail}}" item-right height="60" width="60" alt="User Image" *ngIf="es.receiptThumbnail"></ion-img>
        </ion-item>
        <ion-item-options side="right">
          <button danger (click)="removeReport(slidingItem, es, 'Delete Report')">
            Remove
          </button>
          <button secondary (click)="edit(es)">
                Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>